body{
    background-color:antiquewhite;
}
.heading{
    font-family: 'Brush Script MT', cursive;
    margin-left: 36%;
    margin-top: 171px;
    
}
.sw{
    
    background-color: aqua;
    padding: 20px;
    width: 300px;
    height: auto;
    margin-left: 40%;
    margin-top: 40px;
    border-radius: 10px;
    border: 1px solid burlywood;
    box-shadow: 5px 10px black;
}
button{
    background-color: aqua;
    border: 2px solid black;
    border-radius: 20px;
    height: 30px;
    margin-left: 20px;
}
#rate{
    margin-left: 23px;
}
#time{
    margin-left: 23px;
}
.result{
    margin-left: 20px;
}

#b{
    margin-top: -20px;
    
}
#c{
    margin-top: -20px;
    
}
#si{
    margin-top: -20px;

}
.footer{
    background-color: black;
    color: azure;
    margin-top: 14%;
    padding: 20px;
}
Footer